/* large screen, larger then 992 */
@media screen and (min-width: 992px) {
    body [data-media="logo-dark"] {
        display: none;
    }
}

/* medium screens, smaller then 992 */

@media screen and (max-width: 992px) {
    body [data-media="login"] {
        aspect-ratio: unset;
        height: 100%;
        border-radius: 0;
        grid-template-columns: 0 100%;
    }

    body [data-media="logo-dark"] {
        display: block;
    }
}

/* small screens, smaller then 800px */

@media screen and (max-width: 800px) {
}

/* smaller screens, smaller then 500px */

@media screen and (max-width: 500px) {
}


/* smaller screens, smaller then 400px */

@media screen and (max-width: 400px) {
}