.html {
    height: 100%;
    font-size: 24px;
}

.html > body {
    height: 100%;
    margin: 0;
    background-color: var(--primary-background);
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
}

a {
    font-weight: 400;
    font-size: 0.7rem;
    color: var(--primary);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
