:root {
    --primary: #3949AB;
    --primary-background: #5769D4;
    --primary-100-background: #E6E9FA;
    --primary-500-background: #3949AB;
    --primary-500-background-hover: #27368F;

    --white: #fff;
    --gray: #7B7B7B;
    --border: #D0D0D0;

    
    --gap: 1rem;
    --gap-s: .3rem;
    --gap-l: 2rem;
}