
.container {
    width: 100%;
    aspect-ratio: 1.6/1;
    background-color: var(--primary-500-background);
    border-radius: 24px;
    box-shadow: 0px 2px 30px 0px #0000004D;

    position: relative;
    display: grid;
    grid-template-columns: auto 45%;
}

.greetings {
    display: flex;
    gap: var(--gap-s);
    flex-direction: column;
    color: var(--white);
    align-items: center;
}

.logo {
    position: absolute;
    left: var(--gap-l);
    top: var(--gap-l)
}

.main {
    background-color: var(--white);
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
}

.loginWrap {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap:var(--gap-l);
}

.loginGroup {
    display: flex;
    flex-direction: column;
    gap:var(--gap-s);
}

.loginSide {
    align-self: flex-end;
}

.loginLine {
    display: flex;
    gap:var(--gap-s);
}

.loginSep {
    margin: 0 auto;
    position: relative;
}


.loginSep::before {
    background-color: #E6E9FA;
    height: 1px;
    position: absolute;
    width: 65px;
    content: "";
    top: 50%;
    left: -80px;
}

.loginSep::after {
    background-color: #E6E9FA;
    height: 1px;
    position: absolute;
    width: 65px;
    content: "";
    top: 50%;
    right: -80px;
}

