.container {
    border: 1px solid var(--border);
    height: 1.2rem;
    border-radius: 8px;
    display: flex;
    padding: 6px 10px;
}

.container input {
    border: none;
    border-radius: inherit;
    text-indent: var(--gap-s);
    flex: 1;
}

.container:has(input:focus) {
    box-shadow: 0px 0px 0px 3px #5769D44D;
    border: 1px solid #5769D4;
}

input:focus{
    outline: 0 none;
}

.container[data-error="true"],
.container[data-error="true"]:has(input:focus) {
    border-color: red;
}