.container {
    background-color: var(--primary-500-background);
    color: var(--white);
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-s);
    transition: .3s opacity;
}

.container:hover {
    background-color: var(--primary-500-background-hover);
    cursor: pointer;
}

.container:active {
    background-color: var(--primary-500-background);
}

.container[data-variant="invert"] {
    background-color: var(--white);
    border: 1px solid var(--primary-500-background);
    color: var(--primary-500-background);
}

.container[data-variant="invert"]:hover {
    border-color: var(--primary-500-background-hover);
    color: var(--primary-500-background-hover);
}

.container[data-variant="invert"]:active {
    border-color: var(--primary-500-background);
    color: var(--primary-500-background);
}

.container:disabled {
    opacity: 0.3;
}